@model TraversalProject.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Mail Göndər</h1>

<form method="post">

    <div class="from group">
        @Html.Label("Alıcı Mail Adresi")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>
    <br />
    <div class="from group">
        @Html.Label("Mövzu")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <div class="from group">
        @Html.Label("Mesaj Basligi")
      <textarea cols="30" rows="5" class="form-control" asp-for="Body"></textarea>
     
    </div>
    <button type="submit" class="btn btn-outline-primary">Mail Göndər</button>
</form>


