﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h2>Ölkə-Şəhər Əməliyyatları</h2>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-info">Şəhər Siyahısı</button>
<button type="button" id="btngetid" class="btn btn-outline-primary">Şəhər Gətir</button>
<button type="button" id="btnaddcity" class="btn btn-outline-warning">Şəhər Əlavə Et</button>
<button type="button" id="btndeletecity" class="btn btn-outline-danger">Şəhər Sil</button>
<button type="button" id="btnupdatecity" class="btn btn-outline-info">Şəhər Redakte Et</button>

<br />
<br />
<div id="citylist">
    Buraya Şəhər Siyahısı Gələcək
</div>
<br />

<div>
    <input type="text" id="txtid" placeholder="Şəhər Id dəyərini daxil edin" class="form-control" />
</div>

<br />

<div>
    <input type="text" id="txtcityid" placeholder="Silinəcək Id dəyərini daxil edin" class="form-control" />
</div>

<br />

<div>
    <input type="text" id="txtcityeditid" placeholder="Redakte ediləcək Id dəyərini daxil edin" class="form-control" />
    <input type="text" id="txtcityeditname" placeholder="Redakte ediləcək Şəhər məlumatını daxil edin" class="form-control" />
    <input type="text" id="txtcityeditdaynight" placeholder="Redakte ediləcək Gün-Gecə məlumatını daxil edin" class="form-control" />
    <input type="text" id="txtcityeditprice" placeholder="Redakte ediləcək Qiyməti daxil edin" class="form-control" />
</div>

<br />



<div id="destinationlistbyid">
</div>

<br />
<div>
    <input type="text" id="txtcity" placeholder="Şəhər adını daxil edin" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Gün - Gecə Sayı" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Qiymət" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Qalacaq adam sayı" class="form-control" />
</div>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = typeof func === 'string' ? JSON.parse(func) : func;

                console.log(w);
                let tablehtml = "<table class='table table-bordered'> <tr><th>Şəhər Adı</th> <th>Gün-Gecə</th> <th>Qiymət</th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td><td>${value.DayNight}</td><td>${value.Price} ₼ </td></tr>`;
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            },
            error: function (xhr, status, error) {
                console.error("Error: ", error);
            }
        });
    });

    $("#btnaddcity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "POST",
            url: "/Admin/City/AddCityDestination/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func)
                alert("Şəhər uğurla əlavə olundu");
            },
            error: function (xhr, status, error) {
                console.error("Xəta baş verdi: ", error);
                alert("Şəhər əlavə edilərkən xəta baş verdi");
            }
        });
    });

    $("#btngetid").click(function () {
        let id = $("#txtid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Admin/City/GetById",
            data: { DestinationId: id },
            success: function (fun2) {
                let result = jQuery.parseJSON(fun2);

                if (!result || Object.keys(result).length === 0) {
                    alert("Bu Id-yə uyğun şəhər tapılmadı.");
                } else {
                    let htmstr = `<table class="table table-bordered"><tr><th>Şəhər Adı</th><th>Gün-Gecə</th><th>Qiymət</th></tr><tr><td>${result.City}</td><td>${result.DayNight}</td><td>${result.Price}</td></tr></table>`;
                    $("#destinationlistbyid").html(htmstr);
                }
            },
            error: function (xhr, status, error) {
                console.error("Xəta: ", error);
                alert("Xəta baş verdi.");
            }
        });
    });

        $("#btndeletecity").click(function () {
            let id = $("#txtcityid").val();
            $.ajax({
                url: "/Admin/City/DeleteCity/" + id,
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                success: function (fun3) {
                    alert("Şəhər Silindi")
                }
            });
        });

        $("#btnupdatecity").click(function () {
            let values = {
                DestinationId: $("#txtcityeditid").val(),
                City: $("#txtcityeditname").val(),
                DayNight: $("#txtcityeditdaynight").val(),
                    Price: $("#txtcityeditprice").val()
            };

            $.ajax({
                type: "POST",
                url: "/Admin/City/UpdateCity/",
                data: values,
                success: function (fun4) {
                    alert("Redaktə tamamlandı");
                },
                error: function (xhr, status, error) {
                    alert("Xəta baş verdi: " + error);
                }
            });
        });
</script>