@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api ilə Ziyarətçi Redakte Etmə Səhifəsi</h1>
<br />
<form method="post">
    <input type="hidden" asp-for="VisitorId" />
    <label>ZİYARƏTÇİ ADI</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>ZİYARƏTÇİ SOYADI</label>
    <input type="text" class="form-control" asp-for="SurName" />
    <br />
    <label>ZİYARƏTÇİ MAİL ADRESİ</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />
    <label>ZİYARƏTÇİ ŞƏHƏRİ</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />
    <label>ZİYARƏTÇİ ÖLKƏSİ</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
    <button class="btn btn-outline-primary">Ziyarətçini Redakte Et</button>
</form>