@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddGuide</h1>
<h2>Yeni Rəhbər Əlavə Etmə Səhifəsi</h2>

<form method="post">
    <label>Rəhbər Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Rəhbər Açıqlaması</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-outline-info">Məlumatları Yadda Saxla</button>
</form>

