@model GetGuideByIdQueryResult
@{
    ViewData["Title"] = "GetGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rəhbər Məlumatlarının Redakte Səhifəsi</h1>

<form method="post">
    <input type="hidden" asp-for="GuideId" />
    <lable>Rəhbər Adı</lable>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <lable>Rəhbər Açıqlaması</lable>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-outline-primary">Məlumatları Redakte Et</button>
</form>