
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Pdf Raportları</h2>
<a href="/Pdfreport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf Raportu </a>
<br />
<br />
<a href="/Pdfreport/StaticCustomerReport" class="btn btn-outline-primary">Statik Ziyarətçi Raportu </a>
