@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rezervasiya Redakte Səhifəsi</h2>

<form method="post">
    <input type="hidden" asp-for="DestinationId"/>
    <label>Şəhər</label>
    <input type="text" asp-for="City" class="form-control"/>
    <br />
    <label>Gün-Gecə</label>
    <input type="text" asp-for="dayNight" class="form-control" />
    <br />
    <label>Qiymət</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Məkan Məlumatlarını Redakte Et</button>
</form> 
